/**
 * viadee theme for reveal.js. 
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



$viadeeColor1: #681885;
$viadeeColor2: #c5344e;
$headingColor: $viadeeColor1;
$mainFontSize: 18pt;

$viadeeGradientColorStart: $viadeeColor1;
$viadeeGradientColorEnd: $viadeeColor2;


// Theme template ------------------------------
@import "../template/viadee";
// ---------------------------------------------


